@model Vidly.ViewModels.AllMoviesViewModel

<h2>Catalogue of Movies</h2>

@Html.ActionLink(
    "Create", 
    "New", 
    "Movie",
    new {},
    new { @class = "btn btn-primary p-1 my-2" }
    )

@if (Model.Movies.Count <= 0)
{
    <h4>There aren't any movies yet.</h4>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        </thead>

        <tbody>
        
        @foreach (Movie movie in Model.Movies)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                        movie.Name, 
                        "Details", 
                        "Movie", 
                        new { id = movie.Id },
                        null
                        )
                </td>
                <td>
                    @movie.Genre.Name
                </td>
            </tr>
        }

        </tbody>
    </table>
}

