@model Vidly.ViewModels.AllCustomersViewModel


<h1>List of Customers</h1>

<ul>
    @if (Model.Customers.Count <= 0)
    {
        <h4>There aren't any customers yet.</h4>
    }
    else
    {
        @foreach (Customer customer in Model.Customers)
        {
            <li>
                <a asp-action="Details" asp-route-id="@customer.Id">
                    @customer.Name - @customer.Id
                </a>
            </li>
        }

    }


</ul>